include README.rst
include COPYING
include SYMLINK_CACHE.json
include requirements.txt
include shippable.yml
recursive-include docs *
exclude docs/docsite/rst_warnings
recursive-exclude docs/docsite/_build *
recursive-exclude docs/docsite/_extensions *.pyc *.pyo
include examples/hosts
include examples/assible.cfg
include examples/scripts/ConfigureRemotingForAssible.ps1
include examples/scripts/upgrade_to_ps3.ps1
recursive-include lib/assible/executor/powershell *.ps1
recursive-include lib/assible/module_utils/csharp *.cs
recursive-include lib/assible/module_utils/powershell *.psm1
recursive-include lib/assible/modules/windows *.ps1
recursive-include lib/assible/galaxy/data *.yml *.j2 README.md assible.cfg inventory .git_keep
recursive-include lib/assible/config *.yml
recursive-include licenses *.txt
recursive-include packaging *
recursive-include test/assible_test *.py Makefile
recursive-include test/integration *
recursive-include test/lib/assible_test/config *.template
recursive-include test/lib/assible_test/_data *.cfg *.ini *.json *.ps1 *.psd1 *.py *.sh *.txt *.yml coveragerc inventory
recursive-include test/lib/assible_test/_data/injector assible assible-config assible-connection assible-console assible-doc assible-galaxy assible-playbook assible-pull assible-test assible-vault pytest
recursive-include test/lib/assible_test/_data/sanity/validate-modules validate-modules
recursive-include test/sanity *.json *.py *.txt
recursive-include test/support *.py *.ps1 *.psm1 *.cs
exclude test/sanity/code-smell/botmeta.*
recursive-include test/units *
include Makefile
include MANIFEST.in
include changelogs/CHANGELOG*.rst
include changelogs/changelog.yaml
recursive-include hacking/build_library *.py
include hacking/build-assible.py
