#
# (c) 2018 Red Hat Inc.
#
# This file is part of Assible
#
# Assible is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Assible is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Assible.  If not, see <http://www.gnu.org/licenses/>.
#
from __future__ import (absolute_import, division, print_function)
from assible.errors import AssibleError
__metaclass__ = type

try:
    from assible.plugins.terminal import TerminalBase
    """
        Examples:
            https://github.com/assible/assible/blob/devel/lib/assible/plugins/terminal/iosxr.py
            https://github.com/assible/assible/blob/devel/lib/assible/plugins/terminal/junos.py
    """
except ImportError:
    raise AssibleError("Terminal Plugin [ {{ role_name }} ]: Dependency not satisfied")


class TerminalModule(TerminalBase):
    """
        Examples:
            https://github.com/assible/assible/blob/devel/lib/assible/plugins/terminal/iosxr.py
            https://github.com/assible/assible/blob/devel/lib/assible/plugins/terminal/junos.py
    """
    raise AssibleError("Terminal Plugin [ {{ role_name }} ]: Not implemented")
