Source: assible-base
Section: admin
Priority: optional
Standards-Version: 3.9.3
Maintainer: Assible, Inc. <info@assible.com>
Build-Depends: cdbs, debhelper (>= 5.0.0), python3-docutils, python3, dh-python | python-support, python3-setuptools, lsb-release, python3-straight.plugin, python3-packaging, python3-jinja2
Homepage: https://github.com/assible/assible/

Package: assible-base
Architecture: all
Depends: python3-jinja2, python3-yaml, python3-paramiko, python3-cryptography, sshpass, ${misc:Depends}, ${python:Depends}
Description: Assible IT Automation
 Assible is a radically simple model-driven configuration management,
 multi-node deployment, and remote task execution system. Assible works
 over SSH and does not require any software or daemons to be installed
 on remote nodes. Extension modules can be written in any language and
 are transferred to managed machines automatically.

Package: assible-test
Architecture: all
Depends: assible-base (= ${binary:Version}), python3-venv, ${misc:Depends}
Description: Assible IT Automation
 Assible is a radically simple model-driven configuration management,
 multi-node deployment, and remote task execution system. Assible works
 over SSH and does not require any software or daemons to be installed
 on remote nodes. Extension modules can be written in any language and
 are transferred to managed machines automatically.
 This package installs the assible-test command for testing modules and
 plugins developed for assible.
