[windows]
{% for host in vars.groups.windows %}
{{ host }}  assible_host={{ hostvars[host]['assible_host'] }} assible_port={{ hostvars[host]['assible_port'] }} assible_user={{ hostvars[host]['assible_user'] }} assible_password={{ hostvars[host]['assible_password'] }}
{% endfor %}

[windows:vars]
assible_connection=psrp
assible_psrp_auth=negotiate
assible_psrp_cert_validation=ignore
