[windows]
{% for host in vars.groups.windows %}
{{ host }}  assible_host={{ hostvars[host]['assible_host'] }} assible_user={{ hostvars[host]['assible_user'] }}{{ ' assible_ssh_private_key_file=' ~ hostvars[host]['assible_ssh_private_key_file'] if (hostvars[host]['assible_ssh_private_key_file']|default()) else '' }}
{% endfor %}

[windows:vars]
assible_shell_type={{ test_shell_type }}
assible_connection=ssh
assible_port=22
# used to preserve the existing environment and not touch existing files
assible_ssh_extra_args="-o UserKnownHostsFile=/dev/null"
assible_ssh_host_key_checking=False
